{% extends "layout.html" %}

{% block title %}
    Take Inventory
{% endblock %}

{% block main %}



  <form action="/edit" method="post">
    <div class="form-group">
        <div>
          ID
          <br>
          <input autocomplete="off" autofocus class="form-control" name="id" value="{{item_to_edit["id"]}}" type="number" readonly="readonly">
        </div>
        <br>
        <div>
          Item Name
          <br>
          <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Item Name" value= "{{item_to_edit["name"]}}" type="text">
        </div>
        <br>
        <div>
          Item Quantity
          <br>
          <input class="form-control" name="quantity" placeholder="Item Quantity" value="{{item_to_edit["quantity"]}}" type="number">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Edit Item</button>
    </div>  


</tbody>

{% endblock %}
